<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="LogMS">
    <meta name="author" content="Coderthemes">
    <link rel="shortcut icon" href="@Url.Content("~/images/favicon_1.ico")">
    <title>Log 管理系統</title>
    <link href="@Url.Content("~/css/bootstrap.min.css")@ViewBag.Version" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/core.css")@ViewBag.Version" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/components.css")@ViewBag.Version" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/icons.css")@ViewBag.Version" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/pages.css")@ViewBag.Version" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/responsive.css")@ViewBag.Version" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/js/modernizr.min.js")@ViewBag.Version"></script>
</head>
<body>
    <div class="account-pages"></div>
    <div class="clearfix"></div>
    <div class="wrapper-page">
        <div class=" card-box">
            <div class="panel-heading">
                <h3 class="text-center"> Sign In to <strong class="text-custom">LogMS</strong> </h3>
            </div>
            <div class="panel-body">
                <form class="form-horizontal m-t-20" action="@Url.Action("Login")" method="post">
                    <div class="form-group ">
                        <div class="col-xs-12">
                            <input name="Account" class="form-control" type="text" required="" placeholder="Account">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <input name="Password" class="form-control" type="password" required="" placeholder="Password">
                        </div>
                    </div>
                    <div class="form-group text-center m-t-40">
                        <div class="col-xs-12">
                            <button class="btn btn-pink btn-block text-uppercase waves-effect waves-light" type="submit">登入</button>
                        </div>
                    </div>
                    <div class="form-group m-t-30 m-b-0">
                        <div class="col-sm-12">
                            <a href="" class="text-dark"><i class="fa fa-lock m-r-5"></i> 忘記密碼?</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-center">
                <p>還沒有帳號嗎? <a href="" class="text-primary m-l-5"><b>註冊</b></a></p>
            </div>
        </div>
    </div>

    <script src="@Url.Content("~/js/jquery.min.js")@ViewBag.Version"></script>
    <script src="@Url.Content("~/js/bootstrap.min.js")@ViewBag.Version"></script>
    <script src="@Url.Content("~/js/detect.js")@ViewBag.Version"></script>
    <script src="@Url.Content("~/js/fastclick.js")@ViewBag.Version"></script>
    <script src="@Url.Content("~/js/jquery.slimscroll.js")@ViewBag.Version"></script>
    <script src="@Url.Content("~/js/jquery.blockUI.js")@ViewBag.Version"></script>
    <script src="@Url.Content("~/js/waves.js")@ViewBag.Version"></script>
    <script src="@Url.Content("~/js/wow.min.js")@ViewBag.Version"></script>
    <script src="@Url.Content("~/js/jquery.nicescroll.js")@ViewBag.Version"></script>
    <script src="@Url.Content("~/js/jquery.scrollTo.min.js")@ViewBag.Version"></script>
    <script src="@Url.Content("~/js/jquery.core.js")@ViewBag.Version"></script>
    <script src="@Url.Content("~/js/jquery.app.js")@ViewBag.Version"></script>
</body>
</html>